.banner {
    padding: 25px 10%;
    @include displayFlex(row, space-between, stretch);
    vertical-align: middle;
    flex-wrap: wrap;
    &__item {
        flex-basis: 310px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 4px;
        @include displayFlex(row, space-evenly, center);
        padding: 5px;
    }
    &__img {
        width: 75px;
        height: 75px;
        &_large {
            width: 101px;
            height: 99px;
        }
    }
    &__header {
        color: $textColor;
        font-family: $secondFont;
        font-size: 24px;
        font-weight: inherit;
        line-height: 28px;
        letter-spacing: 0.6px;
    }
    &__text {
        color: $mainFontColor;
        font-family: $mainFont;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.5px;
    }
}

@media only screen and (max-width: 1200px) {
    .banner {
        justify-content: center;
        &__item {
            padding: 15px 5px;
            margin: 25px;
        }
    }
}
