.change-list {
    &__item {
        text-align: center;
    }
    &__link {
        background-color: $changeBgColor;
        color: $textColor;
        padding: 5px 10px;
        font-family: inherit;
        font-size: 11px;
        line-height: 24px;
        text-transform: uppercase;
        display: inline-block;
        transition: color .5s ease-in-out, font-weight .5s ease-in-out, background-color .5s ease-in-out;
        &_active {
            background-color: $hoverBgColor;
            color: $bgColor;  
            font-weight: $boldFont;
        }
        &_hover {
            &:hover {
                background-color: $liteHoverColor;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    .change-list {
        margin-right: 20px;
        &__item {
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: 660px) {
    .change-list {
        &__link {
            font-size: 16px;
        }
    }
}
