.slider {
    max-height: 480px;
    width: auto;
    position: relative;
    &__img {
        width: 100%;
        vertical-align: middle;
    }
    &__item {
        display: none;
    }
    &__text-box {
        position: absolute;
        right: 10%;
        top: 15%;
    }
    &__text {
        display: inline-block;
        padding: 1px;
        background-color: rgba(255, 255, 255, 0.7);
        font-size: 16px;
        line-height: 30px;
        color: rgb(34, 34, 34);
        font-family: $secondFont;
        font-weight: 400;
        margin-bottom: 5px;
        &_header {
            font-size: 36px;
            padding: 10px;
            margin-bottom: 20px;
        }
    } 
    &__btn {
        cursor: pointer;
        width: auto;
        padding: 9px 18px;
        color: $textColor;
        background-color: rgba(255, 255, 255, .8);
        font-weight: 100;
        font-size: 18px;
        transition: 0.6s ease;
        user-select: none;
        margin-top: -22px;
        &_prev {
            position: absolute;
            left: 0;
            top: 50%;
        }
        &_next {
            position: absolute;
            right: 0;
            top: 50%;
        }
        &_hover {
            &:hover {
                background-color: rgba(0, 0, 0, .8);
                color: $bgColor;
            }
        }
    }
    &__indicate-box {
        position: absolute;
        right: 5%;
        bottom: 10%;
    }
    &__indicate {
        cursor: pointer;
        height: 20px;
        width: 20px;
        margin: 0 2px;
        background-color: rgba(0, 0, 0, .6);
        border: 5px solid rgba(255, 255, 255, .8);
        border-radius: 50%;
        display: inline-block;
        transition: background-color .6s ease,  border .6s ease;
        &_current, &_hover:hover {
            background-color: rgba(255, 255, 255, .6);
            border: 5px solid rgba(0, 0, 0, .8);
        }
    }
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@media only screen and (max-width: 860px) {
    .slider {
        &__btn {
            font-size: 14px;
        }
        &__text {
            font-size: 14px;
            &_header {
                font-size: 28px;
            }
        }
    }
  }

  @media only screen and (max-width: 660px) {
    .slider {
        &__text-box {
            right: 5%;
            top: 5%;
        }
        &__btn {
            font-size: 12px;
            padding: 6px 14px;
        }
        &__text {
            font-size: 13px;
            line-height: 20px;
            &_header {
                font-size: 22px;
                margin-bottom: 5px;
            }
        }
    }
  }

  @media only screen and (max-width: 560px) {
    .slider {
        &__text-box {
            right: 10%;
            top: 5%;
        }
        &__btn {
            font-size: 12px;
            padding: 5px 12px;
        }
        &__text {
            display: none;
            &_header {
                font-size: 14px;
                display: block;
            }
        }
    }
  }