$bgColor: rgb(255, 255, 255);
$barBgColor: rgb(245, 247, 249);
$changeBgColor: rgb(230, 233, 237);
$hoverBgColor: rgb(89, 183, 194);
$liteHoverColor: rgb(213, 228, 241);
$hoverShadowColor: rgba(127, 203, 206, 0.5);
$popupShadowColor: rgba(132, 132, 132, 0.6);

$mainFontColor: rgb(119, 119, 119);
$textColor: rgb(68, 68, 68);

$boldFont: 700;
$borderRadius: 4px;

$mainFont: 'Noto Sans HK', sans-serif;
$secondFont: 'Bitter', serif;